In [3]:
import pandas as pd

In [ ]:
df_mc = pd.read_csv('../../datasets/MC_Fake_cleaned.csv')
print(df_mc.sample(5))

,title,text,label,category,language
16320,Coronavirus: South Korea seeks to contain smal...,South Korea on Thursday reported 114 new cases...,0,WORLD NEWS,en
15386,South Korea closes churches as coronavirus tal...,SEOUL (Reuters) - Churches were closed in Sout...,0,WORLD NEWS,en
9894,relive kaia gerber’s first new york fashion we...,Admit it: Kaia Gerber makes this whole modelin...,0,STYLE & BEAUTY,en
4972,"anthony bourdain's death: barack obama, chriss...",Celebrities are mourning the loss of Anthony B...,0,ENTERTAINMENT,en
6594,‘grey’s anatomy’ spinoff enlists jaina lee ortiz,ABC’s Grey’s Anatomy spinoff has found its lea...,0,ENTERTAINMENT,en

In [10]:
print(df_mc['label'].value_counts())

label
0    23130
1     4218
Name: count, dtype: int64

In [9]:
df_cc = pd.read_csv('../../datasets/Combined_Corpus/All_cleaned.csv')
df_cc.sample(5)

,text,label,language,category
61048,A sleepwalking Olive Oyl steps nonchalantly be...,1,en,ARTS & CULTURE
62763,Several dozen members of the Southern Christia...,1,en,POLITICS
63568,Look at the photograph by Graciela Iturbide of...,1,en,ARTS & CULTURE
68850,WASHINGTON â€” Five and a half years into Pres...,1,en,POLITICS
59282,As the halls lights flickered and the floor tr...,0,en,POLITICS

In [11]:
print(df_cc['label'].value_counts())

label
1    44552
0    40718
Name: count, dtype: int64

In [12]:
df_wf = pd.read_csv('../../datasets/WELFake_cleaned.csv')
print(df_wf.sample(5))
print(df_wf['label'].value_counts())

       Unnamed: 0                                              title  \
30009       32954  Juncker calls on Europe to reject separatist '...
3120         3207  Senator Cornyn trying to get Big Corn behind U...
11293       11846  AWESOME! PRESIDENT TRUMP Shows Off His Strengt...
48587       55753  Turkey, France and Italy to strengthen coopera...
50642       58402  At least three dead as Indian passenger train ...

                                                    text  label language  \
30009  European Commission President Jean-Claude Junc...      0       en
3120   Senator John Cornyn, the No. 2 Senate Republic...      0       en
11293  Obama would have hurt himself doing this (see ...      1       en
48587  Turkey signed a letter of intent with France a...      0       en
50642  A passenger train slipped off the rails in nor...      0       en

         category
30009  WORLD NEWS
3120     POLITICS
11293    POLITICS
48587   WORLDPOST
50642   WORLDPOST
label
0    34243
1    26613
Name: count, dtype: int64

In [15]:
#we will be using CC labels (1 for real, 0 for fake)
df_mc['label'] = 1 - df_mc['label']
df_wf['label'] = 1 - df_wf['label']

#Make a column with the source of the dataset
df_mc['source'] = 'MC'
df_cc['source'] = 'CC'
df_wf['source'] = 'WF'
#Combine the datasets
df_combined = pd.concat([df_mc, df_cc, df_wf], ignore_index=True)

#keep only title, text, label, language, category, source
df_combined = df_combined[['title', 'text', 'label', 'language', 'category', 'source']]

In [16]:
df_combined.sample(5)

,title,text,label,language,category,source
143641,Another Fugitive Mexican Governor Faces New Ch...,"MCALLEN, Texas — A fugitive Mexican gover...",1,en,POLITICS,WF
1020,report: kim jong un killed in trump’s overnigh...,President Trump decided to go ahead and do wha...,0,en,POLITICS,MC
91404,NaN,And So It Begins Greek Banks Get Shut Down For...,0,en,WORLDPOST,CC
161262,17 Great Stories That Have Nothing to Do With ...,"Welcome to Our Picks, a guide to the best stuf...",1,en,ENTERTAINMENT,WF
144945,"Mexico urges U.S., Cuba to work out difference...",Mexico on Friday urged the governments of the ...,1,en,WORLDPOST,WF

In [17]:
df_combined['label'].value_counts()

label
1    101925
0     71549
Name: count, dtype: int64

In [18]:
#save the combined dataset
df_combined.to_csv('../../datasets/CC_MC_WELF_merged.csv', index=False)

In [19]:
df_combined['source'].value_counts()

source
CC    85270
WF    60856
MC    27348
Name: count, dtype: int64

In [20]:
#verify text to not be null
df_combined['text'].isnull().sum()

0