In [1]:
import pandas as pd

In [16]:
r0 = pd.read_csv('val_textfooler_results_gpu_0.csv')
r1 = pd.read_csv('val_textfooler_results_gpu_1.csv')
r2 = pd.read_csv('val_textfooler_results_gpu_2.csv')

In [17]:
# Merge the dataframes
print(r0.shape)
print(r1.shape)
print(r2.shape)
merged = pd.concat([r0, r1, r2], ignore_index=True)
print(merged.shape)

(266, 9)
(266, 9)
(268, 9)
(800, 9)

In [11]:
merged.head()

,original_text,perturbed_text,original_score,perturbed_score,original_output,perturbed_output,ground_truth_output,num_queries,result_type
0,Muslims Everywhere Are Furious After DHL Makes...,Muslims Everywhere Are Furious After DHL Makes...,0.000159,0.511956,0,1,0,3515,Successful
1,Obama Admin Deports Christian Family [[For]] T...,Obama Admin Deports Christian Family [[With]] ...,0.000143,0.742331,0,1,0,2310,Successful
2,[[For]] your chance to be crowned [[Guardian]]...,[[During]] your chance to be crowned [[Guardia...,0.000071,0.559920,1,0,1,1421,Successful
3,Having been talked by her boyfriend into seein...,Having been talked by her boyfriend into seein...,0.000372,0.989422,0,1,0,373,Successful
4,If You Can See All The Faces In This [[Picture...,If You Can See All The Faces In This [[Cinemat...,0.000199,0.945095,0,1,0,527,Successful

In [18]:
merged['result_type'].value_counts()

result_type
Successful    681
Failed        118
Skipped         1
Name: count, dtype: int64

In [19]:
#how many of the column original output is the same as ground truth
def get_same_as_gt(row):
    if row['original_output'] == row['ground_truth_output']:
        return 1
    else:
        return 0
    
#apply the function to the dataframe
merged['same_as_gt'] = merged.apply(get_same_as_gt, axis=1)
merged['same_as_gt'].value_counts()

same_as_gt
1    799
0      1
Name: count, dtype: int64

In [20]:
succes = merged[merged["result_type"] == "Successful"]

succes['ground_truth_output'].value_counts()

ground_truth_output
0    439
1    242
Name: count, dtype: int64

In [15]:
merged.to_csv('test_textfooler_results_all.csv', index=False)