In [1]:
import pandas as pd

In [8]:
r0 = pd.read_csv('test_textfooler_results_gpu_0.csv')
r1 = pd.read_csv('test_textfooler_results_gpu_1.csv')
r2 = pd.read_csv('test_textfooler_results_gpu_2.csv')

In [9]:
# Merge the dataframes
print(r0.shape)
print(r1.shape)
print(r2.shape)
merged = pd.concat([r0, r1, r2], ignore_index=True)
print(merged.shape)

(266, 9)
(266, 9)
(268, 9)
(800, 9)

In [4]:
merged.head()

,original_text,perturbed_text,original_score,perturbed_score,original_output,perturbed_output,ground_truth_output,num_queries,result_type
0,England Carries Out [[First]] [[Christian]] [[...,England Carries Out [[Keynote]] [[Gospel]] [[P...,0.000125,0.506115,0,1,0,3378,Successful
1,[[The]] US private [[sector]] [[shed]] the [[s...,[[Both]] US private [[scope]] [[cabin]] the [[...,0.000067,0.000162,1,1,1,6945,Failed
2,"A [[photograph]] of Raghavendran Ganesan, 30, ...","A [[pictured]] of Raghavendran Ganesan, 30, on...",0.000071,0.000111,1,1,1,6628,Failed
3,The Easy Ottolenghi recipe supplement was miss...,The Easy Ottolenghi recipe supplement was miss...,0.000090,0.828556,1,0,1,502,Successful
4,Millions flocked to a museum in Florence this ...,Millions flocked to a museum in Florence this ...,0.000799,0.638519,0,1,0,208,Successful

In [10]:
merged['result_type'].value_counts()

result_type
Successful    686
Failed        113
Skipped         1
Name: count, dtype: int64

In [11]:
#how many of the column original output is the same as ground truth
def get_same_as_gt(row):
    if row['original_output'] == row['ground_truth_output']:
        return 1
    else:
        return 0
    
#apply the function to the dataframe
merged['same_as_gt'] = merged.apply(get_same_as_gt, axis=1)
merged['same_as_gt'].value_counts()

same_as_gt
1    799
0      1
Name: count, dtype: int64

In [12]:
succes = merged[merged["result_type"] == "Successful"]

succes['ground_truth_output'].value_counts()

ground_truth_output
0    423
1    263
Name: count, dtype: int64

In [15]:
merged.to_csv('test_textfooler_results_all.csv', index=False)

In [13]:
train = pd.read_csv('textfooler_results_all.csv')

In [14]:
train.shape

(3000, 10)

In [15]:
train['result_type'].value_counts()

result_type
Successful    2486
Failed         511
Skipped          3
Name: count, dtype: int64

In [16]:
successful = train[train["result_type"] == "Successful"]
successful['ground_truth_output'].value_counts()

ground_truth_output
0    1585
1     901
Name: count, dtype: int64