In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../datasets/CC_WELF_merged_cleaned.csv")

In [3]:
len(df)

144298

In [7]:
df['category'].value_counts()

category
POLITICS              58065
WORLDPOST             15358
ENTERTAINMENT          9828
WELLNESS & HEALTH      8344
SPORTS                 7466
BUSINESS               6185
WORLD NEWS             5355
TRAVEL                 3340
MINORITY VOICES        3304
CRIME                  3209
ENVIRONMENT            2829
ARTS & CULTURE         2757
FOOD & DRINK           2421
MEDIA                  2244
PARENTING              1957
TECH                   1784
COMEDY                 1777
SCIENCE                1261
RELIGION               1131
IMPACT & GOOD NEWS     1126
STYLE & BEAUTY         1099
EDUCATION               850
WOMEN & FIFTY           785
MONEY                   613
WEIRD NEWS              448
HOME & LIVING           376
WEDDINGS                146
U.S. NEWS               131
DIVORCE                 109
Name: count, dtype: int64

In [12]:
df_cc = pd.read_csv("../../datasets/Combined_Corpus/All_cleaned.csv")
df_cc['category'].value_counts(normalize=True)

category
POLITICS              0.286572
ENTERTAINMENT         0.091369
WORLDPOST             0.087839
WELLNESS & HEALTH     0.084848
SPORTS                0.079418
BUSINESS              0.060455
TRAVEL                0.032626
ARTS & CULTURE        0.029330
ENVIRONMENT           0.026844
CRIME                 0.025038
FOOD & DRINK          0.023115
MINORITY VOICES       0.021285
PARENTING             0.019057
WORLD NEWS            0.017450
TECH                  0.016676
MEDIA                 0.013451
COMEDY                0.011833
SCIENCE               0.011716
IMPACT & GOOD NEWS    0.011118
STYLE & BEAUTY        0.010578
RELIGION              0.007881
EDUCATION             0.007588
MONEY                 0.006438
WOMEN & FIFTY         0.005993
WEIRD NEWS            0.004163
HOME & LIVING         0.003870
WEDDINGS              0.001372
DIVORCE               0.001114
U.S. NEWS             0.000962
Name: proportion, dtype: float64

In [10]:
#print sample of category = WORLDPOST
df_cc[df_cc['category'] == 'WORLDPOST'].sample(10)

,text,label,language,category
286,The militaries of the 30 countries that provid...,1,en,WORLDPOST
38590,With Israel's construction freeze on Jewish se...,1,en,WORLDPOST
2966,Britainâ€™s political leadership has frayed at...,1,en,WORLDPOST
13179,Argentinaâ€™s government welcomed on Monday a ...,1,en,WORLDPOST
21865,KSA Responds To Houthi Invasion By Bombing Sau...,0,en,WORLDPOST
57489,WASHINGTON â€” Britainâ€™s vote to leave the E...,1,en,WORLDPOST
5166,The head of the UN agency for Palestinian refu...,1,en,WORLDPOST
1872,As the world comes to terms with the biggest p...,1,en,WORLDPOST
6380,"KARAK, Jordan â€” Gunmen involved in a rare te...",1,en,WORLDPOST
29020,A new political party in Guinea said Saturday ...,1,en,WORLDPOST

In [13]:
df_wf = pd.read_csv("../../datasets/WELFake_cleaned.csv")
df_wf['category'].value_counts(normalize=True)

category
POLITICS              0.566189
WORLDPOST             0.132181
WORLD NEWS            0.064266
ENTERTAINMENT         0.035214
MINORITY VOICES       0.025125
WELLNESS & HEALTH     0.019538
CRIME                 0.018552
MEDIA                 0.018536
BUSINESS              0.018141
COMEDY                0.012702
SPORTS                0.012193
TRAVEL                0.009958
ENVIRONMENT           0.009481
FOOD & DRINK          0.008068
RELIGION              0.007772
TECH                  0.006556
PARENTING             0.005751
ARTS & CULTURE        0.004930
WOMEN & FIFTY         0.004798
SCIENCE               0.004667
STYLE & BEAUTY        0.003566
EDUCATION             0.003500
IMPACT & GOOD NEWS    0.003106
WEIRD NEWS            0.001528
MONEY                 0.001232
U.S. NEWS             0.000871
HOME & LIVING         0.000805
WEDDINGS              0.000526
DIVORCE               0.000246
Name: proportion, dtype: float64

In [11]:
df_wf[df_cc['category'] == 'WORLDPOST'].sample(10)

/tmp/ipykernel_47084/522318817.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_wf[df_cc['category'] == 'WORLDPOST'].sample(10)

,Unnamed: 0,title,text,label,language,category
57810,67987,Libyans flee by boat amid 'terrible' violence ...,Just before the sun dipped into the Mediterran...,0,en,WORLDPOST
6307,6529,Today’s Upside Move In Gold & Silver Is Nothin...,"29 Views November 01, 2016 GOLD , KWN King Wor...",1,en,BUSINESS
55301,64641,BUSTED: Trump’s RNC Czar Caught Telling Party...,Have you ever really taken a close look at Don...,1,en,POLITICS
11100,11637,MELANIA TRUMP GIVES POWERFUL SPEECH to Honor ‘...,https://www.youtube.com/watch?v=cJZFepSvxzM,1,unknown,FOOD & DRINK
38409,43011,These Celebrities Just Made An Anti-Trump Vide...,Comments \nIn this amusing but alarming musica...,1,en,ENTERTAINMENT
18440,19692,"Twitter employee briefly shuts Trump account, ...",Twitter Inc faced questions on Friday about it...,0,en,POLITICS
40632,45747,John Bolton: Trump’s Only Mistake Was Not Firi...,"On Thursday’s Breitbart News Daily, former U. ...",0,en,POLITICS
19799,21187,Demonic Possession Today (Part 1),Part 1 : The Six Stages of the Exorcism Proces...,1,en,WELLNESS & HEALTH
34580,38408,Stephen Colbert SCORCHES Jeff Sessions’ Racis...,Late Show host Stephen Colbert is no fan of Do...,1,en,POLITICS
41582,46955,Опрос: Россияне одобряют действия президента П...,0 комментариев 4 поделились Фото: AP \nКак пок...,1,ru,FOOD & DRINK