In [1]:
import pandas as pd

In [8]:
r0 = pd.read_csv('test_textbugger_results_gpu_0.csv')
r1 = pd.read_csv('test_textbugger_results_gpu_1.csv')
r2 = pd.read_csv('test_textbugger_results_gpu_2.csv')

In [9]:
# Merge the dataframes
print(r0.shape)
print(r1.shape)
print(r2.shape)
merged = pd.concat([r0, r1, r2], ignore_index=True)
print(merged.shape)

(266, 9)
(266, 9)
(268, 9)
(800, 9)

In [10]:
merged.head()

,original_text,perturbed_text,original_score,perturbed_score,original_output,perturbed_output,ground_truth_output,num_queries,result_type
0,[[To]] the Editor:[[Re]] [[In]] a Narrow [[Rac...,[[Aux]] the Editor:[[Er]] [[At]] a Narrow [[Ra...,0.000082,0.739177,1,0,1,1300,Successful
1,"[[On]] his first [[day]] on the [[job]], [[NAT...",[[For]] his first [[daytime]] on the [[labour]...,0.000068,0.000096,1,1,1,1709,Failed
2,"In a development that has [[baffled]] experts,...",In a development that has [[baf]] [[fled]] exp...,0.000491,0.597263,0,1,0,353,Successful
3,"When Illeana Douglas, long active in independe...","When Illeana Douglas, long active in independe...",0.000059,0.542263,1,0,1,733,Successful
4,The pink-frosted [[single-candle]] cupcake [[u...,The pink-frosted [[single˗candle]] cupcake [[u...,0.000311,0.531785,0,1,0,375,Successful

In [11]:
merged['result_type'].value_counts()

result_type
Successful    540
Failed        258
Skipped         2
Name: count, dtype: int64

In [ ]:

def get_same_as_gt(row):
    if row['original_output'] == row['ground_truth_output']:
        return 1
    else:
        return 0
    
merged['same_as_gt'] = merged.apply(get_same_as_gt, axis=1)
merged['same_as_gt'].value_counts()

same_as_gt
1    798
0      2
Name: count, dtype: int64

In [14]:
succes = merged[merged["result_type"] == "Successful"]

succes['ground_truth_output'].value_counts()

ground_truth_output
0    319
1    221
Name: count, dtype: int64

In [15]:
merged.to_csv('test_textbugger_results_all.csv', index=False)

In [15]:
train = pd.read_csv('textbugger_results_all.csv')

In [16]:
train.shape

(3000, 9)

In [17]:
train['result_type'].value_counts()

result_type
Successful    1971
Failed        1024
Skipped          5
Name: count, dtype: int64

In [18]:
successful = train[train["result_type"] == "Successful"]
successful['ground_truth_output'].value_counts()

ground_truth_output
0    1227
1     744
Name: count, dtype: int64