In [1]:
import pandas as pd

In [14]:
r0 = pd.read_csv('val_pwws_results_gpu_0.csv')
r1 = pd.read_csv('val_pwws_results_gpu_1.csv')
r2 = pd.read_csv('val_pwws_results_gpu_2.csv')

In [15]:
# Merge the dataframes
print(r0.shape)
print(r1.shape)
print(r2.shape)
merged = pd.concat([r0, r1, r2], ignore_index=True)
print(merged.shape)

(266, 9)
(266, 9)
(268, 9)
(800, 9)

In [4]:
merged.head()

,original_text,perturbed_text,original_score,perturbed_score,original_output,perturbed_output,ground_truth_output,num_queries,result_type
0,Egyptian [[Foreign]] Minster Ahmed Ali Abul Gh...,Egyptian [[extraneous]] Minster Ahmed Ali Abul...,0.000074,0.830293,1,0,1,977,Successful
1,With a principle agreement in their [[grasp]] ...,With a principle agreement in their [[range]] ...,0.000231,0.647406,0,1,0,1379,Successful
2,[[Maria]] Sharapova [[returned]] to the tennis...,[[mare]] Sharapova [[devolve]] to the tennis [...,0.000061,0.000092,1,1,1,3257,Failed
3,"[[Norway]] [[City]] [[Declares]], We [[Have]] ...","[[Noreg]] [[city]] [[hold]], We [[feature]] Th...",0.000146,0.916526,0,1,0,1063,Successful
4,Human clinical trials for a Taiwan-produced va...,Human clinical trials for a Taiwan-produced va...,0.000077,0.543763,1,0,1,2122,Successful

In [10]:
merged['result_type'].value_counts()

result_type
Successful    644
Failed        156
Name: count, dtype: int64

In [16]:
#how many of the column original output is the same as ground truth
def get_same_as_gt(row):
    if row['original_output'] == row['ground_truth_output']:
        return 1
    else:
        return 0
    
#apply the function to the dataframe
merged['same_as_gt'] = merged.apply(get_same_as_gt, axis=1)
merged['same_as_gt'].value_counts()

same_as_gt
1    798
0      2
Name: count, dtype: int64

In [17]:
succes = merged[merged["result_type"] == "Successful"]

succes['ground_truth_output'].value_counts()

ground_truth_output
0    405
1    218
Name: count, dtype: int64

In [13]:
merged.to_csv('test_pwws_results_all.csv', index=False)